:root {
  --background: #ffffff;
  --foreground: #171717;

  font-size: clamp(4px, 2vw, 12px);
}

body {
  background-image: url("./assets/images/background.png");
  background-repeat: repeat;
  background-size: 200px;
  margin: 0;
  padding: 0;
}