.container {
  margin: 0 auto;
  max-width: 600;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 10rem;
  text-align: center;
  font-weight: normal;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 1;
}
.subtitle {
  font-size: 4rem;
  text-align: center;
  font-weight: normal;
  margin-top: .3em;
  margin-bottom: 0;
}
.desc {
  font-size: 3rem;
  text-align: center;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
  padding-bottom: 0.25em;
}
.digital_bg {
  width: 50rem;
  height: auto;
  filter: opacity(50%);
}
.overlay_1 {
  position: absolute;
  top: 30.5rem;
  margin-top: 3rem;
  margin-left: 2rem;
  font-size: 2.6rem;
  line-height: 6rem;
}
.overlay_2 {
  position: absolute;
  top: 30.5rem;
  margin-top: 17rem;
  margin-left: 2rem;
  font-size: 5rem;
}
.overlay_3 {
  position: absolute;
  top: 30.5rem;
  margin-top: 26rem;
  margin-left: 2rem;
  font-size: 2rem;
}
.scroll_down {
  font-size: 3rem;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 3em;
}
.grid_container {
  display: grid;
  grid-template-columns: 25rem 25rem;
}
.item {
  margin: 2.1rem;
  padding: 0;
  width: 20rem;
  height: 25rem;
  border: .2rem solid black;
  border-radius: 2rem;
}
.item>img {
  width: 18rem;
  height: 18rem;
  margin: 1rem;
  border-radius: 2rem;
}
.item>p {
  width: 20rem;
  height: 10rem;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}